/* app css stylesheet */


@font-face {
    font-family: 'Lato', sans-serif;
}


.search-bar {
    height: 100px !imporant;
    width: 100% !important;
    text-align: center !important;
    border-radius: 1px !important;
    color: indigo !important;
    font-size: 19px !important;
    font-weight: 500 !important;
    font-family: sans-serif !important;
    border-bottom-color: rgb(140,158,255) !important;
    border-bottom-style: groove !important;

}

.search-button {
    float: right !important;
    text-align: center !important;
  
}



span#result h4{
    color: black;
    font-weight: 400;
    font-size: 15px !important;
    line-height: normal !important;
    text-align: left !important;
    display: block;
    margin-top: 50% !important;
    width: 20px;
}


.cont {
    width: 100% !important;
    color:black !important;
}

span#result br {
    line-height: 5px !important;
}

#result {
    height: auto;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color:#000000 !important;
    display: inline-block;
    font-weight: 400;

}

p#results{
    float: right !important;
    display: inline;
}

.titles {
    text-align: center;
    color: #fff !important;
    font-family: sans-serif;
    background-color: black !important;
}



.share {
    text-align: center !important;
    display: inline !important;
    font-size: 50px;
}

.for-now-first-card {
    height: 242px;
}

#myMap {
    width:  100%;
    height: 500px;
    border: 0;
}
.gmnoprint {
    display: none !important;
}

.weather-image {
    width: 120px;
    height:120px;
    border: 0;
    border-color: transparent;
    background-image: url('icons/45.svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;

}
.first-res-con {
    display: inline-block !important;
    border: 0;
    border-color: transparent !important;
}


@media (min-width: 1200px)
    .container {
        width: 1170px;
}

@media (min-width: 992px)
    .container {
        width: 970px;
}
@media (min-width: 768px)
    .container {
        width: 750px;
}

.last {
    display: inline;
    
}